<!DOCTYPE html>

<html>
    <head>
        <h1>URLshort</h1>
    </head>

    <main>
        <p>Rentrer votre url à raccourcir dans la fenètre çi dessous:</p>
        <form action="/add" method="post">
        <input type="text" placeholder="Paste your url here" required id="surl" name="surl">
        <button type="submit">Generate</button>
        </form>


    </main>

</html>