<!DOCTYPE html>


<html>
    <head>
        <h1>URLshort</h1>
        <h2>Link Created!</h2>
    </head>

    <main>
        <p>Your Link has been shortened to:
            <a href= <%= url %> > <%= url %> </a>  </p>
    </main>



</html>